{% extends "layout.html" %}
{% block content %}

<h1>Tracking Map</h1>

<div class="container">
    <style type="text/css">
        .mapboxgl-popup {
            max-width: 200px;
        }
        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
        .coordinates {
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            position: absolute;
            bottom: 40px;
            left: 40px;
            padding: 5px 10px;
            margin: 0;
            font-size: 11px;
            line-height: 18px;
            border-radius: 3px;
            display: block;
        }
    </style>


    <div id='map' style='width: 100%; height: 500px;'></div>
    <pre id="coordinates" class="coordinates"></pre>
    <script>
    mapboxgl.accessToken = '{{mapbox_access_token}}';

    const coordinates = document.getElementById('coordinates');
    var map = new mapboxgl.Map({
      container: 'map',
      style: '{{mapbox_style}}',
    });

    map.on('load', () => {
        var geojson = {
            "type": "FeatureCollection",
            "features": []
        };
        var flight_start_dist = {
            "type": "FeatureCollection",
            'features' : []
        };

        map.addSource('geojson', {
            'type': 'geojson',
            'data': geojson
            });

        map.addSource('flight_start_dist', {
            'type': 'geojson',
            'data': flight_start_dist
            });
            
        // Add styles to the map
        map.addLayer({
            id: 'coordinate_points',
            type: 'circle',
            source: 'geojson',
            paint: {'circle-radius': 10,'circle-color': '#000'},
            filter: ['in', '$type', 'Point']
        });

        map.addLayer({
            id: 'src_dist_points',
            type: 'circle',
            source: 'flight_start_dist',
            paint: {'circle-radius': 10,'circle-color': '#100'},
            filter: ['in', '$type', 'Point']
        });


        // Change the cursor to a pointer when hovering over a point on the map.
        // Otherwise cursor is a crosshair.
        map.on('mousemove', (e) => {
            const features = map.queryRenderedFeatures(e.point, {
                layers: ['coordinate_points', 'src_dist_points']
            });
            map.getCanvas().style.cursor = features.length
            ? 'pointer'
            : 'crosshair';
        });

        map.on('click', (e) => {
            const features = map.queryRenderedFeatures(e.point, {
                layers: ['src_dist_points']
            });

            if (flight_start_dist.features.length == 0){
                const point = {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [e.lngLat.lng, e.lngLat.lat]
                    },
                    'properties': {
                        'id': String(new Date().getTime()),
                        'src_dist' : 'Source'
                    }
                }
                flight_start_dist.features.push(point);
                console.log(flight_start_dist.features);
            } else if (flight_start_dist.features.length == 1){
                if (features.length){
                    const id = features[0].properties.id;
                    flight_start_dist.features = flight_start_dist.features.filter((point) => point.properties.id !== id);
                }else{
                    const point = {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [e.lngLat.lng, e.lngLat.lat]
                    },
                    'properties': {
                        'id': String(new Date().getTime()),
                        'src_dist' : 'Distination'
                    }
                }
                flight_start_dist.features.push(point);
                console.log(flight_start_dist.features);
                }                
            } else if (flight_start_dist.features.length == 2){
                flight_start_dist.features.shift();
                flight_start_dist.features[0].properties.src_dist = 'Source'
                console.log(flight_start_dist.features);
            }
            
            if ('{{point_option}}' == 'confirm'){
                console.log("Check if points are there then eneble the schedule button");
            }

            // updating the flight start and distination coordinates
            map.getSource('flight_start_dist').setData(flight_start_dist);

            // changing the coordinates container content
            var point_lnglat = e.lngLat;
            coordinates.innerHTML = `Longitude: ${point_lnglat.lng}<br />Latitude: ${point_lnglat.lat}`;
        });




        })
    </script>
</div>

{% endblock content%}
{% block schedule_sidebar %}
<div class="col-md-4">
    <div class="content-section">
        <h3>Schedule a Flight</h3>
        &nbsp;
            <h5>Select </h5>
            &nbsp;
        &nbsp;
        <form name="drone_select_and_confirm" action="/map" method="post">
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Drone
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!-- <h6>Available drones</h6> -->
                    {% if drones %}
                        {% for drone in drones %}
                            <a class="dropdown-item" href="#">{{ drone.type }}, {{ drone.brand }}, License: {{drone.droneLicenseID}}</a>
                        {% endfor %}
                    {% else %}
                        <h6 class="dropdown-header">Empty</h6>
                    {% endif %}
                </div>
            </div>
            &nbsp;
            <div>
                <input type="submit" name="options" value="confirm" class="btn btn-info"></input>
            </div>
        </form>
        
    </div>
    <h5>Current Flight Info</h5>
</div>
{% endblock schedule_sidebar %}